<h1>Eat Da Burger</h1>
<img src="../public/assets/img/burger.png" atl="image-burger">

<h2>Add a Burger Here!</h2>

<h2>List of Burgers</h2>
<ul>
    {{#each burger}}
        {{#unless devoured}}
            {{> burger/burgers-block devoured=false}}
        {{/unless}}
    {{/each}}
</ul>

<h2>Was the Burger Eaten??</h2>
<ul>
    {{#each burger}}
        {{#unless devoured}}
            {{> burger/burgers-block devoured=true}}
        {{/unless}}
    {{/each}}
</ul>
