body {
    background-color: rgb(228, 190, 94);
}

h1, h4{
    text-align: center;
    color: tomato;
}

h5 {
    text-align: center;
}

#burger-image {
    height: 200px;
    width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

.btn-primary {
    display: block;
    margin-left: auto;
    margin-right: auto;
}



.form-control {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}